<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Viajes</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/travels-new/{{id}}">
        Agregar Viaje
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngIf="travelsUser.length > 0">

    <ion-item lines="none" *ngFor="let item of travelsUser">

      <ion-label>
        <h1>{{item.pais}}</h1>
        <p>
          <b>Departamento: </b>{{item.departamento}}
        </p>
        <p>
          <b>Ciudad: </b>{{item.ciudad}}
        </p>
        <p>
          <b>Fecha de viaje: </b>{{item.fecha_viaje}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>